.feature{
    margin: 80px 0;
    position: relative;
}

.feature-arrow{
    position: absolute;
    top: 50%;
    justify-content: space-between;
    font-size: 32;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: .4s;
}
#feature-arrow-left{
    left: -80px;
}

#feature-arrow-right{
    right: -80px;
}

#seller-arrow-left{
    left: -80px;
}

#seller-arrow-right{
    right: -80px;
}

.feature:hover .feature-arrow{
    opacity: 1;
}
.feature:hover #feature-arrow-left{
    left: -5px;
}
.feature:hover #feature-arrow-right{
    right: -5px;
}
.feature:hover #seller-arrow-left{
    left: -5px;
}
.feature:hover #seller-arrow-right{
    right: -5px;
}

.feature-arrow:hover{
    background-color: #bac34e;
    color: #fff;
}
.feature-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-header h2{
    font-size: 30px;
    color: #0a472e;
    position: relative;
    margin-left: 30px;
}

.feature-header h2::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #bac34e;
    left: -30px;
    top: 7px;
}
.seller-header h2::before{
    border-color: red;
}

.feature-link{
    border-color: #bac34e;
}

.feature-link a{
    color: #bac34e;
}

.feature-main{
    margin-top: 30px;
    position: relative;
}
.feature-items{
    box-sizing: border-box;
    padding: 2px;
}
.feature-item-cover{
    width: calc(25% - 30px);
}

.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    position: relative;
    margin: 15px;
}

.feature-item > img{
    width: 100%;
}

.feature-item-link1{
    margin-top: 30px;
    color: #bac34e;
}

.feature-item-link2{
    color: #000;
    font-size: 16px;
    margin: 15px 0;
}

.feature-item-link2:hover{
    color: #bac34e;
}


.feature-item h3{
    font-size: 20px;
    color: #e0bf96;
}

.feature-line{
    width: 60px;
    height: 3px;
    background-color: #bac34e;
    margin: 20px 0;
    transition: .4s;
}

.feature-item:hover .feature-line{
    width: 100px;
}

.feature-item-link{
    border: none;
}

.feature-hidden{
    display: flex;
    position: absolute;
    top: 55%;
    opacity: 0;
    transition: .4s;
}

.feature-item:hover .feature-hidden{
    top: 45%;
    opacity: 1;
}

.feature-hidden div{
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: .4s;
}

.feature-hidden img{
    transition: .4s;
}

.feature-hidden div:hover{
    background-color: #0a472e;
}

.feature-hidden div:hover img{
    filter: invert(1);
}


@media(max-width: 1000px){
    .feature-item{
        width: calc(25% - 15px);
        padding: 30px 15px;
    }
}

@media(max-width: 800px){
    .feature-item:last-child{
        display: none;
    }

    .feature-item{
        width: calc(33.33% - 20px);
    }
}

@media(max-width:550px){
    .feature-header h2{
        font-size: 20px;
        margin: 0;
    }
    .feature-item:nth-child(3){
        display: none;
    }
    .feature-header h2::before{
        display: none;
    }
    .feature-item{
        width: calc(50% - 20px);
    }
}

@media(max-width: 400px){
    .feature-item:nth-child(2){
        display: none;
    }
    .feature-item{
        width: 100%;
    }
}