.header{
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
}

.header__item p{
    color:black;
}

.header__item{
    display: flex;
    font-size: 14px;
}

.header__item a{
    margin-left: 20px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.header__item a:hover{
    color: #bac34e;
}

@media(max-width:1000px){
    .header{
        display: none;
    }
}